{% extends 'base.html'%}

{% block content %}
<div class="col-md-6 offser-md-3">

    {% if user.is_authenticated %}
       <h1>Records</h1>
    {% if records %}
    <table class="table table-primary">
      <thead>
        <tr class="table-primary">
          <th scope="col">id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
        {% for record in records%}
      <tbody>
        <tr class="table-primary table-hover">
          <th scope="row"><a href = "{% url 'record' record.id %}">{{record.id}}</a></th>
                        <td >{{record.first_name}}</td>
          <td>{{record.last_name}}</td>
          <td>{{record.email}}</td>
          <td>{{record.phone}}</td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
       
    {% endif%}
    {% else %}
<h1>Login</h1>
<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}    
    <form>
        <div class="form-group">
          <input type="text" class="form-control"
          name="username" , placeholder="Username" required >
        </div>
        <div class="form-group">
        
          <input type="password" class="form-control"
          name="password" , placeholder="password" required>
        </div>

        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
</form>
</div>
{% endif %}
{% endblock %}