{% extends 'base.html' %}
{% block content %}

<!--<h1>Customer Record:</h1>
    {{customer_record.first_name}}<br/>
    {{customer_record.last_name}}<br/>
    {{customer_record.email}}<br/>
    {{customer_record.phone}}<br/>
    {{customer_record.zipcode}}<br/>
    {{customer_record.id}}<br/>
-->
<br/>
<div class="card col-md-6 offset-md-3" style="width: 18rem;">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-body-secondary" style="color: #0D503C;">ID : {{customer_record.id}}</h6>
      <h5 class="card-title">{{customer_record.first_name}} 
        {{customer_record.last_name}} </h5>
      
      <p class="card-text">
        Email : {{customer_record.email}}<br/>
        Phone : {{customer_record.phone}}<br/>
        Address : {{customer_record.address}}<br/>
        City : {{customer_record.city}}<br/>
        State : {{customer_record.state}}<br/>
        ZipCode : {{customer_record.zipcode}}<br/>
      <p style="color: #0D503C">user registered at {{customer_record.created_at}}</p>
        
      </p>
      <a href="{% url 'home' %}" class="card-link" style="color: #4DD4AC;">Back</a><br/>
      <a href="{% url 'delete_record' customer_record.id %}" class="card-link" style="color: #4DD4AC;">Delete Record </a><br/>
      <a href="{% url 'update_record' customer_record.id %}" class="card-link" style="color: #4DD4AC;">Update Record</a><br/>
    </div>
  </div>


{% endblock %}